
/* GENERAL SETTİNGS */

body {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
  } 
  
  a{
	  text-decoration: none;
	  color: #000000;
  }

  a:hover{
    text-decoration: none;
    
  }


  .mt-6{
	  margin-top: 100px;
  }

  .mt-7{
	margin-top: 150px;
  } 

  .mt-8{
	margin-top: 200px;
  }

 .mt-9{
	margin-top: 250px;
  }

.mt-10{
	margin-top: 300px;
 }

 .section-title{
	 font-weight: bold;
	 margin-left:25px;
 }
 

 .btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none;
  } 
  .btn:focus, .btn:active {
	outline: none !important;
	box-shadow: none !important;
  }

/* GENERAL SETTİNGS END */


/* NAVBAR */

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #FFFFFF;
	z-index: 10;
}
.top_nav
{
	width: 100%;
	height: 50px;
	background: #1e1e27;
}
.top_nav_left
{
	height: 50px;
	line-height: 50px;
	font-size: 13px;
	color: #b5aec4;
	text-transform: uppercase;
}

/*********************************
3.3 Account
*********************************/

.account
{
	display: inline-block;
	position: relative;
	min-width: 50px;
	padding-left: 20px;
	text-align: center;
	vertical-align: middle;
	background: #1e1e27;
}
.account > a
{
	display: block;
	color: #b5aec4;
	font-weight: 400;
	height: 50px;
	line-height: 50px;
	font-size: 13px;
}
.account > a > i
{
	margin-left: 8px;
}
.account:hover .account_selection
{
	visibility: visible;
	opacity: 1;
	top: 100%;
}
.account_selection
{
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.account_selection li
{
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
}
.account_selection li a
{
	display: block;
	color: #232530;
	border-bottom: solid 1px #dddddd;
	font-size: 14px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.account_selection li a:hover
{
	color: #b5aec4;
}
.account_selection li:last-child a
{
	border-bottom: none;
}
.account_selection li a i
{
	margin-right: 10px;
}

/*********************************
3.4 Main Navigation
*********************************/


.main_nav_container
{
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}
.navbar
{
	width: auto;
	height: 6em;
	float: right;
	padding-left: 0px;
	padding-right: 0px;
}
.navbar_menu li
{
	display: inline-block;
}
.navbar_menu li a
{
	display: block;
	color: #1e1e27;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.navbar_menu li a:hover
{
	color: #b5aec4;
}
.navbar_user
{
	margin-left: 37px;
}
.navbar_user li
{
	display: inline-block;
	text-align: center;
}
.navbar_user li a
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 40px;
	height: 40px;
	color: #1e1e27;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.navbar_user li a:hover
{
	color: #b5aec4;
}
.checkout a
{
	background: #eceff6;
	border-radius: 50%;
}
.checkout_items
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -9px;
	left: 22px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #FFD500;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

/*********************************
3.5 Hamburger Menu
*********************************/

.hamburger_container
{
	display: none;
	margin-left: 40px;
}
.hamburger_container i
{
	font-size: 24px;
	color: #1e1e27;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.hamburger_container:hover i
{
	color: #b5aec4;
}
.hamburger_menu
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: rgba(255,255,255,0.95);
	z-index: 10;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}



.hamburger_menu.active
{
	right: 0px;
    width: 100%;
	background-color: white;

	
}
.fs_menu_overlay
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	background: rgba(255,255,255,0);
	pointer-events: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger_close
{
	position: absolute;
	top: 26px;
	right: 10px;
	padding: 10px;
	z-index: 1;
}
.hamburger_close i
{
	font-size: 24px;
	color: #1e1e27;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.hamburger_close:hover i
{
	color: #b5aec4;
}
.hamburger_menu_content
{  
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	
    width: 100%;
    height: 100%;
    margin-top: -8%;
    margin-bottom: auto;
}
.menu_item
{
	display: block;
	position: relative;
	padding: 15px;
}

/* vertical-align: middle; */

.menu_item > a
{
	display: block;
	color: #1e1e27;
	font-weight: 500;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	text-transform: uppercase;
	

}
.menu_item > a:hover
{
	color: #b5aec4;
}
.menu_item > a > i
{
	margin-left: 8px;
}
.menu_item.active .menu_selection
{
	display: block;
	visibility: visible;
	opacity: 1;
}
.menu_selection
{
	margin: 0;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu_selection li
{
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
}
.menu_selection li a
{
	display: block;
	color: #232530;
	border-bottom: solid 1px #dddddd;
	font-size: 13px;
	text-transform: uppercase;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.menu_selection li a:hover
{
	color: #b5aec4;
}
.menu_selection li:last-child a
{
	border-bottom: none;
}

/*********************************
3.6 Logo
*********************************/

.logo_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 15px;
}
.logo_container a
{
	font-size: 1.5em;
	color: #1e1e27;
	font-weight: 700;
	text-transform: uppercase;
}
.logo_container a span
{
	color: #FFD500;
}


/************
6. 991px
************/

@media only screen and (max-width: 991px)
{

	.main_slider_content h6
	{
		margin-bottom: 23px;
	}
	.shop_now_button
	{
		margin-top: 26px;
	}
	.grid-item
	{
		width: 25%;
	}
	.top_nav
	{
		display: none;
	}
	.navbar_menu
	{
		display: none;
	}
	.hamburger_container
	{
		display: block;
	}
	.main_slider
	{
		margin-top: 100px;
	}
	.main_slider_content
	{
		width: 100%;
		padding-right: 15px;
	}
	.banner_item
	{
		height: 160px;
	}
	.banner_category
	{
		min-width: 160px;
		height: 40px;
	}
	.banner_category a
	{
		font-size: 16px;
		line-height: 40px;
	}


}



/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.hamburger_menu
	{
		right: -100%;
		width: 100%;
	}

}



/************
13. 479px  
************/

@media only screen and (max-width: 479px)
{    
    
    .hamburger_menu.active{
       margin-bottom: auto;
       }
    
	.logo_container a
	{
		font-size: 1.5em;
	}
	.hamburger_container
	{
		margin-left: 25px;
	}
	.hamburger_container i
	{
		font-size: 1.5em;
	}
	.hamburger_close
	{
		top: 14px;
		right: 4px;
	}
	.hamburger_close i
	{
		font-size: 20px;
	}

	.menu_item
	{
		border-bottom-color: rgba(181, 174, 196, 0.5);
	}
	.menu_item > a
	{
		font-size: 2em;
		line-height: 35px;
		height: 35px;
	}
	.menu_selection li a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.navbar
	{
		height: 6em;
	}
	.navbar_user li a
	{
		width: 2em;
		height: 2em;
		font-size: 1.1em;
	}
	.checkout_items
	{
		width: 15px;
		height: 15px;
		font-size: 10px;		
	}
	



}

 
/* responsive css end */


/* NAVBAR END*/



  /* SLİDER */
  .slide-baslik{
	 font-size: 3rem;
     font-weight: bold;
  }

  .slide-yazi{
    font-size: 1.8rem;
    margin-top:50px;
}

.slider-price{
	font-size: 35px;
}

.add-to-favorite{
	width: 200px;
	height: 50px;
	background-color: white;
	border: 1px solid #7C7C7C;
	border-radius: 10px;
	color:#7C7C7C;
	font-size: 18px;
}

.add-to-favorite:hover{
	background-color: #7C7C7C;
	color:white;
}

.add-to-card{
	width: 200px;
	height: 50px;
	background-color:#FFD500;
	border: 1px solid #FFD500;
	border-radius: 10px;
	color:white;
	font-size: 18px;
}


.add-to-card:hover{
	background-color: rgb(247, 206, 3);
}


@media only screen and (max-width: 1200px)
{
	.add-to-card{
       margin-top: 10px;
	}
	.add-to-favorite{
        margin-top: 10px;
	}

}

@media only screen and (max-width: 941px)
{
	.add-to-card{
       margin-top: 10px;
	}
	.add-to-favorite{
        margin-top: 10px;
	}	


}

@media only screen and (max-width: 540px)
{
	.add-to-card{
	   margin-top: 10px;
	   margin-left: 0px;
	}
	.add-to-favorite{
        margin-top: 10px;
	}


}

@media only screen and (max-width: 449px)
{ 
    	
      .slide-baslik{
	 font-size: 1.3rem;
     font-weight: bold;
     margin-top: -20px;
  }

  .slide-yazi{
    font-size: 1.1rem;
}
    
      .slide-yazi{
    font-size: 1.2rem;
        margin-top:70px;
} 
    
}

@media only screen and (max-width: 365px)
{ 
     
    	.add-to-card{
	   margin-top: 5px;
	   margin-left: 0px;
	}
	.add-to-favorite{
        margin-top: -35px;
	}
	
	
      .slide-baslik{
	 font-size: 1.6rem;
     font-weight: bold;
     margin-top: -20px;
  }

  .slide-yazi{
    font-size: 1.2rem;
        margin-top:0px;
} 


    
}




  /* SLİDER END */




  /* CHOICE */


  .choice  .card{
	border:0px;
  }
  .choice .card .card-img-top{
  object-fit: cover;
	border-radius:20px ;
	width: 100%;
	height:100%;
	max-height: 450px;
	max-width: 400px;

  } 


.choice .card .card-img-overlay{
	position: relative;
	top:-100px
}


.choice .card .choice-buton{
  width: 100%;
	background-color: #FFD500;
	color: white;
	font-size: 20px;
	border-radius: 50px;
}

.choice .card .choice-buton a{
	  color: white;
	}

	.choice .card .choice-buton:hover{
  background-color: rgb(247, 206, 3);
}


  
  /* CHOICE END */


  .text-gray{
	color:#7C7C7C;
}


  /* TRENDS PRODUCTS */

  .product-icon a i{
	 background-color: white;
	color:black;
	border-radius: 50%;
	padding: 0.5rem;
	box-shadow: 0px 5px 15px #d4d4d4;
  }

  .product-icon a i:hover{
	color:red;
  }


 
  .product a:hover{
	   color:gray;
  }


/* DENEME*/

.product-col{
	padding-right: 0px !important; 
	padding-left: 0px !important;
}

.product-col .card{
	border: 0px;
}

.product-item .card-body .btn{
	  width: 100%;
	  background-color: #FFD500;
	  border: 0;
}

.product-item .card-body .btn:focus{
	background-color: #FFD500;
}

.product-item .card-body .card-title{
	 color: #7C7C7C;
}

.product-item .card-body .card-text{
	font-weight: bold;
}

.product-item .card-img-top{
	 height: 100%;
	 width: 100%;
}


.product-item .card-body .card-title {
      font-size: 1.1rem;
}

.product-item .card-body .category{
	font-size: 0.8rem;
}

.product-item .card-body .card-text {
	font-size: 0.9rem;
	
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
	 
}

.product-item .card-body .card-text a:hover{
	color:rgb(110, 110, 110);
	 
}




@media only screen and (max-width: 600px) {
	   
	.product-item .card-body .card-title {
		font-size: 1rem;
  }
  
  .product-item .card-body .card-text {
	  font-size: 0.8rem;
  }
	
}

 

 /* DENEME*/






  /* TRENDS PRODUCTS END */


  /* BRANDS */
 
  .brands-image img{ 
	object-fit: contain;
	width: 100%;
    height: 100%;
	border: 1px solid #CECECE;
	padding: 5px;
  }
  
  .show-all-brands{
		color:black;
		background-color: white;
		border: 1px solid black;
		border-radius: 50px;
		width: 200px;
		height: 40px;
		font-weight: 500;
  }

  .show-all-brands:hover{
	color:white;
	background-color: black;
	border: 1px solid black;
	border-radius: 50px;
	width: 200px;
	height: 40px;
}
 
  /* BRANDS END */



  /* SUBSCRİBE */

  .subscribe{
	  width: 50%;
	   background-color: white; 
	   border:1px solid #CECECE;
	   border-radius:15px;
	   z-index: 1;
	   position: relative;
  }



  @media only screen and (max-width: 991px)
{
	.subscribe
	{
		width: 95%;
	}

}


@media only screen and (max-width: 540px)
{
	.subscribe
	{
		width: 95%;
	}

}


  .subscribe input[type=text] {
	width: 100%;
	height: 50px;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border:1px solid #CECECE;
	border-radius: 50px;
    outline: 0;
  } 

  .subscribe input[type=text]:focus{
	border:1px solid black;
  }
 
  .subscribe ::placeholder{
	  color:#7C7C7C;
  }
   
  .subscribe-now{
	   width: 100%;
	   height: 50px;
       border:1px solid #FFD500;
	   border-radius: 50px;
  	   background-color:#FFD500;
	   color: white;
  }

 
  .subscribe-now:hover{
	background-color:white;
	color: #FFD500;
	border-radius: 50px;
  }

 /* SUBSCRİBE END */


 
 /* FOOTER */
 
 .footer{
	margin-top: -50px;
	padding: 50px;
	 background-color: #000000;
	 color:white;
	 border-bottom: 1px solid white;


 }

 .footer a{
	  color:white;
 }

 .footer p{
	  color:CECECE;
 }

 .footer-alt{
	 padding: 20px;
	background-color: #000000;
	color:white;
 }

  /* FOOTER END */








   /* PRODUCTS DETAILS */

   #thumbs {
	   
	 padding-top: 10px;
	 overflow: hidden;
	 }

   #thumbs img{
	  width: 120px;
	  height: 150px;
	  padding: 5px;
	  object-fit: contain;
	  background-color: white;
	  cursor: pointer;
	  float: left;
	  margin-right:13px;
	  border: 1px solid #EEEEEE;
   }
   


  
  @media only screen and (max-width: 1200px)
  {
	#thumbs img {
		width: 90px;
		height: 90px;
	}
  
  } 

  @media only screen and (max-width: 991px)
{
	#thumbs img {
		width: 110px;
		height: 110px;
	}

}


@media only screen and (max-width: 540px)
{
	#thumbs img {
		width: 60px;
		height: 75px;
	}
}


  
 .big-product-image{
	 border: 1px solid #EEEEEE;
 }

   #largeImage {
	height: 400px;
   } 


   #description {
	  background: black;
	  color: white;
	  position: absolute;
	  bottom: 0;
	  padding: 10px 20px;
	  width: 525px;
	  margin: 5px;
   }
   #panel {
	   position: relative;
	   max-width: 96%;
   }
  
   
   .piece-title{
		color:#7C7C7C;
		font-size: 22px;
		margin-top: 5px;
   }

    #piece{
	display: flex;
	position: relative;
	width: 50px;
	height: 50px;
	font-size: 18px;
	padding-left:11px;
	padding-top:7px; 
	color:black;
   }
   
   .piece{
	   position: relative;
	   width: 100px;
	   height: 40px;
	   display: flex;
	   border: 1px solid #CECECE;
	   border-radius: 5px;
	 }
	 
	 .piece .piece-btn{
		 background-color: transparent;
		 border: 0px;
		 cursor: pointer;
		 color:#7C7C7C;  
	 }
  
   

   /* PRODUCTS DETAILS END */

.features{
	max-width: 800px;
	padding: 5px;
}

.features-bottom{
	margin-top: 5px;
	 border-bottom: 1px solid #CECECE;
}





/* DESCRIPTION */

.pc-tab > input,
.pc-tab section > div {
  display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3 {
  display: block;
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3 {
  color: red;
}

/* Visual Styles */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.pc-tab {
  width: 100%;
  max-width: 900px;
  margin: 0 auto; 
}
.pc-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pc-tab ul li label {
	float: left;
	padding: 10px 10px;
	border-bottom: 0;
	background: white;
	color: black;
	border-radius: 50px;
  }
  .pc-tab ul li label:hover {
	background: #dddddd;
  }
  .pc-tab ul li label:active {
	background: #ffffff;
  }
  .pc-tab ul li:not(:last-child) label {
	border-right-width: 0;
  }
  .pc-tab section {
	clear: both;
  }
.pc-tab section div {
  padding: 20px;
  width: 100%;
  line-height: 1.5em;
  letter-spacing: 0.3px;
}
.pc-tab section div h2 {
  margin: 0;
  letter-spacing: 1px;
  color: #34495e;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label {
  background: black;
  color: white;
  position: relative;
}
#tab1:checked ~ nav .tab1 label:after,
#tab2:checked ~ nav .tab2 label:after,
#tab3:checked ~ nav .tab3 label:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  left: 0;
  bottom: -1px;
}


/* tab table */
.tab3 table {
	border-collapse: collapse;
	width: 100%;
  }
  
.tab3 th, td {
	padding: 8px;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
  }

 
  /* Comment */
  
  .tab2 .comments-card{
	box-shadow: 0px 0px 5px 5px rgb(245, 245, 245);
	margin-top: 20px;
  }
  
  .comments-card a:hover{
     color:red;
  }
 
  .comments-date{
   float: right;
  }

  .tab2 .comments-card-sub{
	box-shadow: 0px 0px 5px 5px rgb(245, 245, 245);
	margin-left: 30px;
	margin-right: auto;
	margin-top: 20px;
}

.comments-card-sub a:hover{
   color:red;
}
 
/* post-a-comment */

.pc-tab section div .post-a-comment{
	width: 80%;
	box-shadow: 0px 0px 5px 5px rgb(245, 245, 245);
 }



@media screen and (max-width: 992px) {
	.pc-tab section div .post-a-comment.post-a-comment {
		width: 100%;

	}
	 
	.post-a-comment .send-button{
		width: 100%;
	}

  }
  
  @media screen and (max-width: 600px) {
	.pc-tab section div .post-a-comment.post-a-comment {
		width: 100%;

	}
	 
	.post-a-comment .send-button{
		width: 100%;
	}

  }

 

.post-a-comment input[type=text]{
	padding: 12px 10px;
	width: 100%;
    border: 0;
    outline: 0;
	border-bottom: 1px solid #CECECE;
	color:black;
}

.post-a-comment input[type=text]:focus{
	border-bottom: 1px solid black;
}

.post-a-comment textarea{
	padding: 12px 10px;
	width: 100%;
    border: 0;
    outline: 0;
	border-bottom: 1px solid #CECECE;
	color:black;
}

.post-a-comment textarea:focus{
	border-bottom: 1px solid black;
}

.post-a-comment ::placeholder{
	color:#CECECE;
}

.post-a-comment .send-button{
	margin-top: 10px;
	width: 50%;
	height: 50px;
	border:1px solid black;
	border-radius: 0px;
	background-color:black;
	color: white;
}



.send-button:hover{
 background-color:white;
 color: black;
}

/* post-a-comment end */


  .tab2 h5{
   color:#FFD500;
   font-weight: bold;
  }

  .tab2 .row{
	border: 0px;
	padding: 5px 0px 0px 20px;
  }
 
  .tab2 .col-lg-12{
	border: 0px;
	padding: 0px;
  }

  .tab2 .col-lg-8{
	border: 0px;
	padding: 0px;
  }

  .tab2 .col-lg-4{
	border: 0px;
	padding: 0px;
  }
 
 

  /* DESCRIPTION END */


/* SIMILAR PRODUCT SLİDER  */


.realtives{
	position:relative;
}
#owl-demo .item{
	margin: 5px;
}
#owl-demo .item .kutu{
	width:100%;
	height:400px;
	display: flex;
	padding: 5px;
	justify-content: center;
}
.customNavigation{
  text-align: right;
  margin-top:10px;
  margin-bottom:3px;
  padding-bottom:3px;
  border-bottom:2px solid #333;
}
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* SIMILAR PRODUCT SLİDER END */

 


  /* MY CART  */
 
 .my-cart-next-button{
	  background-color:#FFD500;
	  color: white;
 }

 .my-cart-next-button:hover{
	background-color: rgb(247, 206, 3);
}



.shopping-cart img{
	width: 50%;
}


.shopping-cart p{
	font-size: 1.2rem;
}
.quantity{
	 margin-right: 2.7em;
}


.shopping-cart .shopping-cart-product-name a:hover{
	  color:rgb(128, 128, 128);
}



 /* Price card */

 .price-card{
	 padding: 0.5em;
	box-shadow: 0px 0px 5px 5px rgb(231, 231, 231);
}
.price-card .card-text{
	 font-size: 2em;
}

.price-card .card-title{
	font-weight: bold;
}
.price-card .btn-confirm{
	width: 100%;
	background-color: #26D324;
	color: white;
}

/* Price card  end  #26D324 */


@media only screen and (max-width: 991px)
{

	.shopping-cart p{
		font-size: 1rem;
	}
    
}


@media only screen and (max-width: 540px)
{
	.shopping-cart p{
		font-size: 0.8rem;
		font-weight: bold;
	}
	
    .price-card{
		margin-top: 2em;
	}
}



  
  .step {
	padding: 0;
	display: flex;
	overflow: hidden;
	counter-reset: step;
	text-align: center;
  }
  .step li {
	width: 100%;
	float: left;
	position: relative;
	list-style-type: none;
	text-transform: uppercase;
  }
  .step li span {
	color: #999999;
	font-size: .8rem;
	font-weight: 500;
  }
  .step li:before {
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 1rem;
	font-weight: 500;
	color: #FFFFFF;
	background-color: #999999;
	border-radius: 50px;
	margin: 0 auto 5px;
	content: counter(step);
	counter-increment: step;
  }
  .step li:after {
	content: '';
	width: 100%;
	height: 3px;
	z-index: -1;
	top: 15px;
	left: -50%;
	position: absolute;
	background-color: #999999;
  }
  .step li:first-child:after {
	content: none;
  }
  .step li.step-active span {
	color: black;
	font-weight: 900;
  }
  .step li.step-active:before, .step li.step-active:after {
	color: #FFFFFF;
	font-weight: 900;
	background-color: black;
  }
  

.cart-delete a i{
    color:red;
}




/* Address radio button */ 

.shipping-radio-button input[type="radio"] {
	background-color: transparent;
	border: 2px solid #FFD500;
	border-radius: 50%;
	box-shadow: inset 0 0 0 0 white;
	cursor: pointer;
	font: inherit;
	height: 1em;
	outline: none;
	width: 1em;
	-moz-appearance: none;
	-webkit-appearance: none;
  }
  .shipping-radio-button input[type="radio"]:checked {
	background-color: #FFD500;
	box-shadow: inset 0 0 0 .1875em white;
  }

/* Address radio button end */




/* Payment */


.demo-container {
	width: 100%;
	max-width: 450px;
  }




/* Payment end */

/* MY CART END */







/* LOGIN */

.left-section{
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 40px;
	width: 100%;
	min-height: 500px;
	font-size: 46px;
}


.login-register-now-button{
	width: 100%;
	border: 2px solid white;
	border-radius: 0px;
	background-color: black;
	color: white;
	padding: 15px;
}

.login-register-button{
	width: 100%;
	border-radius: 0px;
	background-color: black;
	color: white;
	padding: 15px;
}


.user-form-item input[type=text]{
	padding: 12px 10px;
	width: 100%;
	border: 0;
	border-radius: 0px;
    outline: 0;
	border-bottom: 1px solid #CECECE;
	color:black;
	box-shadow: none;
}

.user-form-item input[type=email]{
	padding: 12px 10px;
	width: 100%;
	border: 0;
	border-radius: 0px;
    outline: 0;
	border-bottom: 1px solid #CECECE;
	color:black;
	box-shadow: none;
}

.user-form-item input[type=password]{
	padding: 12px 10px;
	width: 100%;
	border: 0;
	border-radius: 0px;
    outline: 0;
	border-bottom: 1px solid #CECECE;
	color:black;
	box-shadow: none;
}


.user-form-item input[type=text]:focus{
	border-bottom: 1px solid black;
}

.user-form-item input[type=email]:focus{
	border-bottom: 1px solid black;
}

.user-form-item input[type=password]:focus{
	border-bottom: 1px solid black;
}

.user-form-item ::placeholder{
	color:#CECECE;
}


  /* LOGIN END */



   /* REGISTER */

  .user-form-item input[type="checkbox"] {
    opacity: 0;
}

.user-form-item label {
    position: relative;
    display: inline-block;
    padding-left: 15px;
}

.user-form-item label::before,
.user-form-item label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.user-form-item label::before{
    height: 16px;
    width: 16px;
    border: 1px solid #CECECE;
    left: -10px;
    top: 3px;
}
.user-form-item label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: -6px;
    top: 7px;
}

.user-form-item input[type="checkbox"] + label::after {
    content: none;
}

.user-form-item input[type="checkbox"]:checked + label::after {
    content: "";
}

.user-form-item input[type="checkbox"]:focus + label::before {
    outline: 0;
}

   /* REGISTER END */


/* FILTER */ 

.filter-title{
	background-color: black;
	color:white;
	padding: 10px;
	font-weight: bold;
}

.filter-category{
	background-color: white;
	color:black;
}

.filter input[type="radio"] {
	background-color: transparent;
	border: 1px solid #CECECE;
	border-radius: 50%;
	box-shadow: inset 0 0 0 0 white;
	cursor: pointer;
	font: inherit;
	height: 1.5em;
	outline: none;
	width: 1.5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	
  }
  .filter input[type="radio"]:checked {
	background-color: #FFD500;
	border:0px;
  }


  .short-by{
	  color:black;
	  background-color: white;
	  border: 1px solid #CECECE;
	  border-radius: 50px;
	  width: 100%;
	  font-weight: bold;
  }
  .dropdown-menu{
	margin-left:-60px;
	padding: 5px;
	
}
 
.dropdown-menu li a:hover{
	color:rgb(122, 122, 122);
}
/* FILTER END */


